<div class="container text-center table-responsive">
  <table class="table" border="1">
  <tr><td colspan="32">2021年1月</td></tr>
  <tr>
    <td rowspan="2"><%=@user.username%></td>
    <% for num in 1..31 do%>
      <td><%=num%></td>
    <% end %>
  </tr>
  <tr>
    <td>金</td><td>土</td><td>日</td><td>月</td><td>火</td><td>水</td><td>木</td>
    <td>金</td><td>土</td><td>日</td><td>月</td><td>火</td><td>水</td><td>木</td>
    <td>金</td><td>土</td><td>日</td><td>月</td><td>火</td><td>水</td><td>木</td>
    <td>金</td><td>土</td><td>日</td><td>月</td><td>火</td><td>水</td><td>木</td>
    <td>金</td><td>土</td><td>日</td>
  </tr>
  <tr>
    <td rowspan="2">申請</td>
    <% date=0 %>
    <% @appjans.each do |appjan|%>
      <td>
        <% date=date+1 %>
          <% if appjan %>
            <% if appjan.holiday == 1%>
              <p>休日</p></br></br>
            <% else %>
              <%=appjan.start_time.strftime("%H:%M")%></br></br>
              <%= appjan.end_time.strftime("%H:%M")%></br></br>
            <% end %>
          <% end %>
      </td>
    <% end %>
  </tr>
  <tr>
    <% date=0 %>
    <% @appjans.each do |appjan| %>
    <td>
      <% date=date+1 %>
      <% if appjan %>
      <%=link_to("/appjans/#{date}/#{@user.id}/edit") do %><button class="btn btn-success">編集</button><% end %>
    <% else %>
      <%=link_to("/appjans/#{date}/#{@user.id}/new") do%><button class="btn btn-primary">登録</button><% end %>
    <% end %>
    </td>
    <%end%>
  </tr>
  <tr>
  <td rowspan="2">確定</td>
  <% date=0 %>
  <% @conjans.each do |conjan|%>
    <td>
      <% date=date+1 %>
        <% if conjan %>
          <% if conjan.holiday == 1%>
            <p>休日</p></br></br>
          <% else %>
          <%= conjan.start_time.strftime("%H:%M")%></br></br>
          <%= conjan.end_time.strftime("%H:%M")%></br></br>
          <% end %>
        <% end %>
    </td>
  <% end %>
  </tr>
  <tr>
    <% date=0 %>
    <% @conjans.each do |conjan| %>
    <td>
      <% date=date+1 %>
      <% if @current_user.admin == true %>
      <% if conjan %>
        <%=link_to("/conjans/#{date}/#{@user.id}/edit") do %><button class="btn btn-success">編集</button><% end %>
      <% else %>
        <%=link_to("/conjans/#{date}/#{@user.id}/new") do%><button class="btn btn-primary">登録</button><% end %>
      <% end %>
      <% end %>
    </td>
    <%end%>
  </tr>
  </table>
</div>
